.about
	margin-top: rem(26px)
	display: flex
	justify-content: space-around
	flex-direction: column
	flex-wrap: wrap
	+phone
		flex-direction: row
		justify-content: space-between

.about-block
	+laptop
		justify-content: left

.about-text__box
	background: #fff
	margin-bottom: 10px
	padding: rem(43px) rem(56px) rem(11px) rem(41px)
	border-bottom: 3px solid #eaeaea
	+laptop
		width: 19%

.about__head
	+use-font($font, rem(16px), #f26c4f)
	text-transform: uppercase
	padding-top: rem(30px)
	padding-bottom: rem(18px)
	margin: 0

.about-h
	padding: 0
	text-transform: none



.about__text1
	+use-font($font, rem(12px), #8f8f8f)

.about-work__item
	width: 100%
	border-bottom: 3px solid #eaeaea
	margin-bottom: 10px
	background: #fff
	+phone
		width: 32%
	+tablet
		width: 31%
	+laptop
		width: 23%

.about-bord
	height: 247px
	border-bottom: 3px solid #e05d41
	background: #f26c4f
	margin-right: 7px

.about__height
	+laptop
		height: 247px
	position: relative

.about__link
	display: block
	position: absolute
	top: 50%
	margin-top: -15px
	left: 50%
	margin-left: -15px
	text-decoration: none
	color: #fff
	font-size: rem(30px)

.about__box3
	+laptop
		width: 24%

.caption__padding
	padding: rem(43px) rem(10px) rem(10px) rem(15px)
	+laptop
		padding: rem(43px) rem(60px) rem(10px) rem(34px)

.about__text2
	+use-font($font, rem(12px), #8f8f8f)
	+laptop
		line-height: 21px

.text__padding
	margin: 0
	padding: 0px rem(10px) rem(65px) rem(15px)
	+laptop
		padding: 0px rem(68px) rem(65px) rem(34px)
		line-height: 17px

.about-bord2
	height: 247px
	border-bottom: 3px solid #000
	background: #353c3e